In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("spam.csv", encoding="latin-1")

In [5]:
data.head(5)

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [13]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [14]:
data.head(5)

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
data['class'] = data['class'].map({'ham':0 ,'spam':1})

In [16]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
cv = CountVectorizer()

In [36]:
x=data['message']
y=data['class']

In [37]:
x.shape

(5572,)

In [38]:
y.shape

(5572,)

In [39]:
x=cv.fit_transform(x)

In [40]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1.The cat
2.The Dog
3.The bird

    The Cat Dog Bird
1.   1   1   0   0
2.   1   0   1   0
3.   1   0   0   1

In [43]:
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_test, y_train,y_test = train_test_split(x,y, test_size=0.2)

In [48]:
x_train.shape

(4457, 8672)

In [49]:
from sklearn.naive_bayes import MultinomialNB

In [50]:
model = MultinomialNB()

In [51]:
model.fit(x_train, y_train)

MultinomialNB()

In [52]:
model.score(x_test,y_test)

0.9829596412556054

In [53]:
import pickle

In [55]:
pickle.dump(model,open("spam.pickle","wb"))

In [57]:
pickle.dump(cv,open("vectorizer.pickle","wb"))

In [63]:
clf = pickle.load(open("spam.pickle","rb"))

In [64]:
clf

MultinomialNB()

In [66]:
msg="you win 10 dollar"
data=[msg]
vector = cv.transform(data).toarray()
result = model.predict(vector)
print(result)

[1]

In [1]:
import streamlit as st